<h1>Edit Press Release</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.release_path(@conn, :update, @release)) %>

<span><%= link "Back", to: Routes.release_path(@conn, :index) %></span>
