<h1>Show Press Release</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @release.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= raw(@release.content) %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @release.date %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.release_path(@conn, :edit, @release) %></span> |
<span><%= link "Back", to: Routes.release_path(@conn, :index) %></span>
